.card_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-x: scroll;
    justify-content: space-around;
}


.card_container::-webkit-scrollbar{
    height: 0px;
}
.card_container::-webkit-scrollbar-thumb{
    background-color: #fff;
}